.upload_avatar_button{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    outline: none;
    color: #F5F6F5;
    background-color: #83BA96;
    cursor: pointer;
    transition: ease all .5s;
    font-size: 20px;
}

.upload_avatar_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #AEC9A9;
    color: #22242B;
    scale: 1.2;
}

input[type='file'] {
    display: none;
}