
.video_list_header{
    padding: 15px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items:baseline;
}

.video_list_header_label{
    font-style: italic;
    font-size: 26px;
}


 
.video_list_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
