.signup_container{
display: flex;
flex-direction: row;
width: 100vw;
}

.signup_background{
    width: 60vw;
    position: absolute;
    height: 100vh;
    background: url(../../../assets/login-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: 1s;
}

.signup_side_page{
    background-color: #F5F6F5;
    background-image: url(../../../assets/login-side-page-background.png);
    background-size: cover;
    box-shadow: 30px 30px 30px 30px black;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100vh;
    position: absolute;
    right: 0;
}

.signup_form{
    display: flex;
    flex-direction: inherit;
    box-sizing: border-box;
}

.input_string{
    width: 30vw;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #83BA96;
}

.rem_button{
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    text-align: start;
    justify-content: flex-start;
}

.rem_button label{
    margin-left: 5px;
}


.submit_button{
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #83BA96;
    color: #F5F6F5;
    padding: 10px;
    margin: 10px;
    transition: ease all .5s;
}

.submit_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signup_image{
    width: 80px;
}

.signup_title{
    font-size: 32px;
    font-weight: bold;
}

.signup_copyright{
    display: flex;
    position: absolute;
    bottom: 10px;
    font-size:  16px;
}
