@media screen and (max-width: 1920px) {
    
.not_found_background{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../assets/not-found-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5F6F5;
}

.not_found_text{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 200px;
    top: 200px;
    width: 40vw;
}


.not_found_description{
    flex-wrap: wrap;
    position: absolute;
    width: 40vw;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
}

.not_found_button{
    padding: 20px;
    position: relative;
    left: 35%;
    margin-top: 40px;
    font-size: 32px;
    border-radius: 20px;
    outline: none;
    background-color: #7F9E79;
    border: none;
    color: #F5F6F5;
    cursor: pointer;
    transform: 1s;
    transition: ease all .5s;
}

.not_found_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #AEC9A9;
    color: #22242B;
    scale: 1.2;
}


.not_found_copyright{
    position: absolute;
    bottom:  10px;
    left: 20px;
    font-size: 16px;
}
} 

@media screen and (max-width: 1080px) {
    
.not_found_background{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../assets/not-found-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5F6F5;
}

.not_found_text{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 200px;
    top: 200px;
    width: 40vw;
}


.not_found_description{
    flex-wrap: wrap;
    position: absolute;
    width: 40vw;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
}

.not_found_button{
    padding: 20px;
    position: relative;
    left: 35%;
    margin-top: 40px;
    font-size: 32px;
    border-radius: 20px;
    outline: none;
    background-color: #7F9E79;
    border: none;
    color: #F5F6F5;
    cursor: pointer;
    transform: 1s;
    transition: ease all .5s;
}

.not_found_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #AEC9A9;
    color: #22242B;
    scale: 1.2;
}


.not_found_copyright{
    position: absolute;
    bottom:  10px;
    left: 20px;
    font-size: 16px;
}
} 

@media screen and (max-width: 768px) {
    
.not_found_background{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../assets/not-found-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5F6F5;
}

.not_found_text{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 100px;
    top: 200px;
    width: 60vw;
}


.not_found_description{
    flex-wrap: wrap;
    position: absolute;
    width: 60vw;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
}

.not_found_button{
    padding: 20px;
    position: relative;
    left: 20vw;
    top: 30vh;
    font-size: 32px;
    border-radius: 20px;
    outline: none;
    background-color: #7F9E79;
    border: none;
    color: #F5F6F5;
    cursor: pointer;
    transform: 1s;
    transition: ease all .5s;
}

.not_found_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #AEC9A9;
    color: #22242B;
    scale: 1.2;
}


.not_found_copyright{
    position: absolute;
    bottom:  10px;
    left: 20px;
    font-size: 16px;
}
} 

@media screen and (max-width: 320px) {
   
.not_found_background{
    display: flex;
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: url(../../../assets/not-found-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: #F5F6F5;
}

.not_found_text{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    left: 60px;
    top: 60px;
    width: 60vw;
}


.not_found_description{
    flex-wrap: wrap;
    position: absolute;
    width: 60vw;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    text-align: flex-start;
}

.not_found_button{
    padding: 10px;
    position: relative;
    left: 5vw;
    top: 30vh;
    font-size: 24px;
    border-radius: 20px;
    outline: none;
    background-color: #7F9E79;
    border: none;
    color: #F5F6F5;
    cursor: pointer;
    transform: 1s;
    transition: ease all .5s;
}

.not_found_button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #AEC9A9;
    color: #22242B;
    scale: 1.2;
}


.not_found_copyright{
    position: absolute;
    bottom:  10px;
    left: 20px;
    font-size: 16px;
} 
} 

